<div class="navbar">
    <div class="container d-flex">
    <ul class="menu">
        <li><a routerLink="homepage" routerLinkActive="active">Home</a></li>
        <li><a routerLink="alarms" routerLinkActive="active">Alarms</a></li>
   </ul>

    <div class="search-filter">
        <div class="select-search">
            <span class="select-icon search-icon"><img src="assets/images/search.svg" alt=""></span>
            <select name="" id="">
                <option value="">Search</option>
                <option value="">Search 1</option>
                <option value="">Search 2</option>
                <option value="">Search 3</option>
            </select>
        </div>
        <div class="select-more">
            <span class="select-icon more-icon"><img src="assets/images/select-more-icon.svg" alt=""></span>
            <select name="" id="">
                <option value="">More</option>
                <option value="">More 1</option>
                <option value="">More 2</option>
                <option value="">More 3</option>
            </select>
        </div>
        <div class="select-assets">
            <span class="select-icon assets-icon"><img src="assets/images/select-assets-icon.svg" alt=""></span>
            <select name="" id="">
                <option value="">All Assets</option>
                <option value="">Assets 1</option>
                <option value="">Assets 2</option>
                <option value="">Assets 3</option>
            </select>
        </div>
    </div>
</div>
</div>